body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #e0f0ff, #dff9fb);
}

.navbar-custom {
  background: rgba(208, 241, 255, 0.85);
  backdrop-filter: blur(10px);
}
.nav-link {
  transition: all 0.3s ease;
}
.nav-link:hover {
  color: #0d6efd !important;
  transform: scale(1.05);
}

.bg-light-blue {
  background: linear-gradient(to right, #e3f2fd, #d0f1ff);
}

.card {
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-2px);
}

.icon {
  width: 40px;
  height: 40px;
  font-size: 18px;
}

