
body {
  font-family: sans-serif;
}

.container {
  
  display: flex;          
  justify-content: center;  
  align-items: center;        
}

.bg-light-blue {
  background: linear-gradient(to right, #e3f2fd, #d0f1ff);
}


.navbar-custom {
  background: rgba(208, 241, 255, 0.85);
  backdrop-filter: blur(10px);
}
.nav-link {
  transition: all 0.3s ease;
}
.nav-link:hover {
  color: #0d6efd !important;
  transform: scale(1.05);
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 2.5rem;
  padding-left: .5rem;
}


.form-control::placeholder {
  color: #6c757d; 
}

.input-group-text {
  background-color: transparent;
  border-right: none;
  color: #6c757d;
}

.form-control {
  border-left: none;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
